/* App.css */

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-image: url(../styles/images/dave-hoefler-rcE3_D-u2NE-unsplash.jpg);
  color: black;
  background-size: cover; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.city-cell {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 500px; /* Set a max-width */
  width: 100%; /* Set width to 100% */
  margin: 0 auto; /* Center the element */
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  
}

#forecast {
  border-collapse: collapse;
  width: 775px;
  color: whitesmoke;
  opacity: 75%;
  margin-bottom: 25px;
  align-items: center;
}

#forecast td,
#forecast th {
  text-align: center;
}

#forecast th {
  color: whitesmoke;
}

#city {
  width: 100%;
  max-width: 500px; /* Set a max-width */
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

#button {
  width: 100%;
  max-width: 500px;
  background-color: #4682B4;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 1000px;
  display: flex;
  border-bottom: black 1px solid;
  color: black;
  justify-content: space-between;
}

#city-weather{
  width: 800px;
  text-align: center;
  margin: 25px;
  background: rgba( 185, 184, 184, 0.4 );
  box-shadow: 0 8px 32px 0 rgba(14, 14, 15, 0.37);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#detail-city{
  color: whitesmoke;
  font-weight: bolder;
  font-size: xx-large;
}

#label-span{
  color: #4682B4;
}

#detail-temp{
  color: whitesmoke;
}

#detail-conditions{
  color: whitesmoke;
}

#forecast-header{
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
}

#home-button{
  width: 100px;
  background-color: #4682B4;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

.city-selection{
  height: 500px;
}